* {
  padding: 0;
  margin: 0;
  font-size: 40px;
  box-sizing: border-box;
}

.box-Chicken {
  background-color: #EB5757;
  padding: 10px;
  height: 100px;
  width: 100px;
  border: 20px solid #9B51E0;
  margin: 100px;
}

.box-Beef {
  background-color: #2D9CDB;
  padding: 10px;
  height: 100px;
  width: 108px;
  border: 30px solid #9B51E0;
  margin: 70px;
}

.box-Sushi {
  background-color: #9B51E0;
  padding: 10px;
  height: 100px;
  width: 108px;
  border: 30px solid #9B51E0;
  margin: 70px;
}
